<form class="login_form">
    <div class="show">
        <h2>Welcome</h2>
        <p class="error" id="error"></p>
        <label>
            Email:
            <input type="text" name="email" id="email"  >
        </label>
        <br />
        <label>
            Password:
            <input type="password" name="password" id="password" >
        </label>
        <br />
        <input type="submit" value="Login Now">
        <p></p>
        <a href="#register">Sign Up</a>
        <p></p>
    </div>
</form>




