<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <% if ( authenticated ) { %>
            <a class="navbar-brand" href="./#index">Vrakoshy</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="./#editProfile">Edit Profile</a></li>
                <li><a href="./#quit"> Sign off</a></li>
            </ul>
            <% } else { %>
            <a class="navbar-brand" href="./#home">Vrakoshy</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="./#login">Sign In</a></li>
            </ul>
            <% } %>
            </ul>
        </div>
    </div>
</nav>
<div id="cont">
</div>