<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <% if ( authenticated ) { %>
            <a class="navbar-brand" href="./#index">VR</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="./#quit"> <span class="glyphicon glyphicon-log-out"></span></a></li>
                <li><a href="./#editProfile">Edit Profile</a></li>
            </ul>
            <% } else { %>
            <a class="navbar-brand" href="./#home">VR</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="./#login"> <span class="glyphicon glyphicon-log-in"></span></a></li>
            </ul>
            <% } %>
            </ul>
        </div>
    </div>
</nav>
<div id="contents">
</div>