<form class="register_form">
    <div class="col-md-2 col-md-offset-5 list-group-item grean">
        <h2 style="color: #fff6fe">Register</h2>
        <input class="form-control" type="text" id="firstName" name="firstName" placeholder="First name"/>

        <p></p>
        <input class="form-control" type="text" id="lastName" name="lastName" placeholder="Last name"/>

        <p></p>
        <input class="form-control" type="text" onfocus="this.removeAttribute('readonly');" readonly id="email"
               name="email" placeholder="email"/>

        <p></p>
        <input class="form-control" type="password" id="password" name="password" placeholder="password"/>

        <p></p>

        <p>
            <input class="btn btn-primary" type="submit" value="Register Now"/>
        </p>
    </div>
</form>