
<form class="register_form">
    <div style="text-align: center;width: 295px;border: 4px solid #8086c6;">
        <h2>Register</h2>
        <label>
            FirstName:
            <input type="text" id="firstName" name="firstName"  />
        </label>
        <label>
            LastName:
            <input type="text" id="lastName" name="lastName" />
        </label>

        <h1></h1>

        <label>
            Email:
            <input type="text" id="email" name="email" />
        </label>
        <br />

<h1></h1>

            <label>
            Password:
            <input type="password" id="password" name="password" />
            </label>

        <br />

        <p>
            <input type="submit" value="Register Now"/>
        </p>
        <p>
            <button class="cancelBtn"> Cancel </button>
        </p>
    </div>
</form>