<form class="register_form">
    <div class="show">
        <h2>Register</h2>
        <label>
            FirstName:
            <input type="text" id="firstName" name="firstName"  />
        </label>
        <p></p>
        <label>
            LastName:
            <input type="text" id="lastName" name="lastName" />
        </label>
        <p></p>
        <label>
            Email:
            <input type="text" id="email" name="email" />
        </label>
        <p></p>
        <label>
            Password:
            <input type="password" id="password" name="password" />
        </label>
        <p></p>
        <p>
            <input type="submit" value="Register Now"/>
        </p>
        <p>
            <button class="cancelBtn"> Cancel </button>
        </p>
    </div>
</form>