<table cellspacing="5" style="width: 200px;border: 5px solid #21c66d;" >
    <h1></h1>
    <tr id="<%= model._id%>" >

        <td >
            <div style="text-align: center;width: 190px;border: 2px solid #8086c6;">
            Account :<b><%= model.name.full %></b>
                <p>  <button class="removeBtn">Delete</button> </p>
            </div>
        </td>



<td>
        <div style="text-align: center;width: auto;border: 2px solid #49a0c6;">



        Posts
        <div class="post<%=model._id%>"> </div>
        </div>
</td>
    </tr>

</table>