body {
    font-family: Georgia
}

form {
    width: 300px;
}


div {
    text-align: center;
}

div.show {
    width: auto;
    position: absolute;
    top: 100px;
    left: 43%;
}

div.cell {
    text-align: center;
    width: 190px;

}

div.jumbo {
    background:         linear-gradient(85deg, #F1F2B5 20%, #64b3f4 100%); /* W3C */

}


