body {
    font-family: Georgia
}

form {
    width: 300px;
}

div {
    text-align: center;
}

div.show {
    width: auto;
    position: absolute;
    top: 100px;
    left: 43%;
}

div.cell {
    background: -webkit-linear-gradient(90deg, #c2e59c 10%, #64b3f4 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #c2e59c 10%, #64b3f4 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #c2e59c 10%, #64b3f4 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #c2e59c 10%, #64b3f4 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #c2e59c 10%, #64b3f4 90%); /* W3C */
}



