<table id="<%= model._id%>" cellspacing="5" class="list-group-item">

    <td style="width:300px">

        <h4 class="list-group-item-text"><%= model.content %></h4>

        <div class="buttons">
            <% if ( editButton ) { %>
            <span class="editBtn glyphicon glyphicon-pencil" aria-hidden="true"></span>

            <% } %>
            <% if ( removeButton ) { %>
            <span class="removeBtn glyphicon glyphicon-trash"></span>
            <span class="hides glyphicon glyphicon-minus"></span>
            <% } %>

        </div>
    </td>
    <div class="<%= model._id%>"></div>

</table>
