<div id="<%= model._id%>" class="list-group-item">



    <p class="list-group-item-text" style="white-space: pre-wrap; text-align:left"><%= model.content %></p>

    <div class="buttons">
        <h4>
            <% if ( editButton ) { %>
            <span class="editBtn glyphicon glyphicon-edit" aria-hidden="true"></span>
            <% } %>
            <% if ( removeButton ) { %>
            <span class="removeBtn glyphicon glyphicon-trash"></span>
            <% } %>
            <span class="hides glyphicon glyphicon-minus"></span>
        </h4>
    </div>

</div>
