<div id="<%= model._id%>" class="list-group-item">


<div class="list-group-item-text row">
 <div class="col-md-10 col-md-offset-1">
    <p   style="white-space: pre-wrap; text-align:left"><%= model.content %></p>
 </div>
    <div class="buttons col-md-1">
        <h4>
            <% if ( editButton ) { %>
            <span class="editBtn glyphicon glyphicon-edit" aria-hidden="true"></span>
            <% } %>
            <p></p>
            <% if ( removeButton ) { %>
            <span class="removeBtn glyphicon glyphicon-trash"></span>
            <% } %>
        </h4>

 </div>
</div>
</div>
