<div class="list-group-item">
    <h2><%=model.name.full%></h2>

    <div class="actionarea">
        <% if ( addButton ) { %>
        <button class="addbutton btn btn-success">Add Contact</button>
        <% } %>
        <div class="postarea">
            <% if ( removeButton ) { %>
            <h3>Posts</h3>

            <div class="post<%=model._id%> panel panel-primary"></div>
            <p></p>
            <button class="removebutton btn btn-warning">Remove Contact</button>
            <% } %>
        </div>
    </div>
</div>

