<div class="list-group-item friend<%=model._id%>">

    <div class="actionarea">
        <% if ( addButton ) { %>
        <h3 class="showcont"><%=model.name.full%></h3>
        <button class="addbutton btn btn-success">Add Contact</button>
        <% } %>

        <% if ( posts ) { %>
        <h3 class="showcont"><%=model.name.full%></h3>
        <div class="postarea">
            <h3>Posts</h3>
            <div class="post<%=model._id%> panel panel-primary"></div>
            <button class="removebutton btn btn-warning">Remove Contact</button>
            <p></p>
        </div>
        <% } %>
        <% if ( admin ) { %>
        <span class="showcont"><%=model.name.full%></span>
        <% } %>

    </div>
</div>

